@model ProyectoFinal2020v2.Models.Cliente

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/StyleCliente.css" />
<h1>Detalles <i class="fas fa-plus-square"></i></h1>

<div>
    <h4>Cliente<i class="fas fa-user-alt"></i></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Identificacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Identificacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNac)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaNac)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Casillero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Casillero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdTarifa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdTarifa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCliente" class="btn btn-primary"><i class="fas fa-marker"></i>Editar</a>
    <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-undo-alt"></i>Atrás</a>
</div>
