@model IEnumerable<ProyectoFinal2020v2.Models.Actividad>

@{
    ViewData["Title"] = "Index";
}
@{ Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<h4 class="container p-3 my-3 bg-dark text-white text-center rounded-l"><i class="fas fa-dumbbell fa-lg"></i> Actividades</h4>


<table id="table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>

            <th>
                <a class="btn btn-success" asp-action="Create">
                    Crear Nueva
                    <i class="fas fa-plus-square"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duracion)
                </td>

                <td>

                    <a asp-action="Edit" asp-route-id="@item.IdActividad" class="btn btn-primary">
                        Editar
                        <i class="fas fa-pen"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.IdActividad" class="btn btn-secondary">
                        Detalles
                        <i class="fas fa-align-justify"> </i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.IdActividad" class="btn btn-danger">
                        Eliminar
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
}