@model ProyectoFinal2020v2.Models.Categoria

@{
    ViewData["Title"] = "Details";
}
@{ Layout = "~/Views/Shared/_AdminLayout.cshtml"; }
<h1 class="container p-3 my-3 text-white text-center rounded-l" style="background:#DF7401"> <i class="far fa-address-card">Detalles Categorias</i></h1>

<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCategoria" class="btn btn-primary"><i class="fas fa-marker"></i>Editar</a>
    <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-undo-alt"></i>Atrás</a>
</div>
