@model ProyectoFinal2020v2.Models.Tarifa

@{
    ViewData["Title"] = "Details";
}
@{ Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<h1 class="container p-3 my-3 text-white text-center rounded-l" style="background:#019354"><i class="fas fa-file-invoice-dollar"></i>Detalles</h1>

<div class="container">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioTarifa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioTarifa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bebes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bebes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duracion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTarifa" class="btn btn-primary"><i class="fas fa-marker"></i>Editar</a>
    <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-undo-alt"></i>Atrás</a>
</div>
