@model IEnumerable<ProyectoFinal2020v2.Models.Tarifa>

@{
    ViewData["Title"] = "Index";
}

<h1 class="container p-3 my-3 text-white text-center rounded-l" style="background:#0a1139"><i class="fas fa-coins"></i>Tarifas</h1>


<table id="table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrecioTarifa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bebes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioTarifa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bebes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duracion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdTarifa" class="btn btn-primary btn-sm"><i class="fas fa-marker"></i>Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdTarifa" class="btn btn-secondary btn-sm"><i class="fas fa-stream"></i>Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.IdTarifa" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i>Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
 $(document).ready(function () {
 $('#table').DataTable();
 });
</script>
