@model IEnumerable<ProyectoFinal2020v2.Models.Proveedor>

@{
    ViewData["Title"] = "Index";
}

<h4 class="container p-3 my-3 bg-danger text-white text-center rounded-l" style="background:#338AFF"><i class="fas fa-cart-plus"></i>Proveedores</h4>
<table id="table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreRepresentante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                <a class="btn btn-success" asp-action="Create">
                    Crear Nuevo
                    <i class="fas fa-plus-square"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreRepresentante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>

                @*<td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProveedor" class="btn btn-primary btn-sm"><i class="fas fa-marker"></i>Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdProveedor" class="btn btn-secondary btn-sm"><i class="fas fa-stream"></i>Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.IdProveedor" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i>Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#table').DataTable();
    });
</script>