@using Microsoft.AspNetCore.Http;
@* ESTE SERA EL PRINCIPAL *@
@{
    ViewData["Title"] = "Administrador";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> @ViewData["Title"] - ProyectoFinal2020</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*<link rel="stylesheet" type="text/css" href="~/DataTables/datatables.min.css"  />*@
    <link rel="stylesheet" type="text/css" href="~/DataTables/DataTables-1.10.22/css/dataTables.bootstrap4.min.css" />
    @*<link rel="stylesheet" href="~/css/sweetalert2.min.css" />*@
    <link rel="stylesheet" href="~/css/NavBarMenuGymGarderia.css" />
    <link rel="stylesheet" href="~/css/Recarga.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    @RenderSection("Style", false)
    <!--Referencias para la creacion del carusel-->
     @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
    <!-- Minified JS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    <!--<div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/Home/Index"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="#"><i class="fas fa-fire-alt"></i> About</a>
        <a href="#"><i class="fa fa-fw fa-wrench"></i> Services</a>
        <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        <button class="dropdown-btn">
            <i class="fa fa-fw fa-user"></i>  Cliente
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/Clientes/Index">Ver cliente</a>
            <a href="/Clientes/create">Agregar cliente</a>
        </div>

        <button class="dropdown-btn">
            <i class="fas fa-id-badge"></i>
            Empleado
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/Empleados/Index">Ver empleados</a>
            <a href="/Empleados/create">Agregar empleados</a>-->
    @*<a href="#">Link 3</a>*@
    <!--</div>
        <a href="#">Contact2</a>
    </div>-->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3 scroling-navbar fixed-top">

            <div class="container">
                <div class="container">
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Admin" asp-action="Index"><i class="fa fa-fw fa-home"></i>Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Gym"><i class="fas fa-dumbbell"></i>Gym</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Guarderia"><i class="fas fa-baby-carriage"></i> Guarderia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Tienda"><i class="	fas fa-archway"></i>Tienda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Usuarios" asp-action="Index"><i class="	fas fa-user"></i>Usuarios</a>
                            </li>
                        </ul>
                    </div>
                    @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Login" asp-action="Login"><i class="fas fa-sign-in-alt"></i>Iniciar sesion</a>
                                </li>
                            </ul>
                        </div>*@
                </div>
                <br />
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-light"><i class="fas fa-user">Hola @Context.Session.GetString("NombreUsuario")</i></a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Login" asp-action="Logout"><i class="fas fa-door-open"></i>Cerrar Sesión</a>
                            </li>*@
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Login" asp-action="Logout"><i class="fas fa-door-open"></i>Cerrar Sesión</a>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>



    <div class="container1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*<div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>*@


    <footer class="border-top modal-footer text-muted">
        <div class="container">
            &copy; 2020 - ProyectoFinal2020 - @*<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>


    <script src="https://kit.fontawesome.com/2775cf0011.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*<script src="~/js/datatables.min.js" asp-append-version="true"></script>*@
    <script src="~/js/sweetalert2.all.min.js" asp-append-version="true"></script>
    @*<script src="~/js/jquery.editable.min.js" asp-append-version="true"></script>*@

    @*<script src="~/js/sweetalert2.min.js" asp-append-version="true"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    @*DATATABLE BOOTSTRAP Y EXPORT*@
    <script src="~/DataTables/JSZip-2.5.0/jszip.min.js"></script>
    <script src="~/DataTables/pdfmake-0.1.36/pdfmake.min.js"></script>
    <script src="~/DataTables/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script src="~/DataTables/Buttons-1.6.5/js/buttons.html5.min.js"></script>
    <script src="~/DataTables/Buttons-1.6.5/js/dataTables.buttons.min.js"></script>

    <script type="text/javascript" src="~/DataTables/datatables.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>