@model ProyectoFinal2020v2.Models.Producto

@{
    ViewData["Title"] = "Details";
}
@{ Layout = "~/Views/Shared/_AdminLayout.cshtml";}
<h1 class="container p-3 my-3 text-white text-center rounded-l" style="background:#DF3A01"><i class="fas fa-gifts">Detalle Productos</i></h1>

<div class="container">
    <div>

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Codigo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Codigo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Existencia)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Existencia)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechaCadu)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaCadu)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PrecioUnidad)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PrecioUnidad)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdCategoriaNavigation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdCategoriaNavigation.Codigo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdProveedorNavigation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdProveedorNavigation.Descripcion)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.IdProducto" class="btn btn-primary"><i class="fas fa-marker"></i>Editar</a>
        <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-undo-alt"></i>Atrás</a>
    </div>

</div>