@model IEnumerable<ProyectoFinal2020v2.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h4 class="container p-3 my-3 bg-danger text-white text-center rounded-l"><i class="fas fa-trash"></i>Productos</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Existencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCadu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoriaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProveedorNavigation)
            </th>
            <th>
                <a class="btn btn-success" asp-action="Create">
                    Crear Nuevo
                    <i class="fas fa-plus-square"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="edit" id="@item.IdProducto " data-propertyName="Nombre">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td class="edit" id="@item.IdProducto " data-propertyName="Descripcion">
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td class="edit" id="@item.IdProducto " data-propertyName="Existencia">
                    @Html.DisplayFor(modelItem => item.Existencia)
                </td>
                <td class="edit" id="@item.IdProducto " data-propertyName="FechaCadu">
                    @Html.DisplayFor(modelItem => item.FechaCadu)
                </td>
                <td class="edit" id="@item.IdProducto " data-propertyName="PrecioUnidad">
                    @Html.DisplayFor(modelItem => item.PrecioUnidad)
                </td>
                <td class="edit" id="@item.IdProducto " data-propertyName="Nombre">
                    @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.Nombre)
                </td>
                <td class="edit" id="@item.IdProducto " data-propertyName="NombreProducto">
                    @Html.DisplayFor(modelItem => item.IdProveedorNavigation.NombreProducto)
                </td>
                <td>
                    <div class="btn-group" style='font-size: 5px'>
                        <a asp-action="Edit" asp-route-id="@item.IdProducto" class="btn btn-primary btn-sm">Editar<i class="fas fa-pen"></i></a>
                        <a asp-action="Details" asp-route-id="@item.IdProducto" class="btn btn-secondary btn-sm">Detalle<i class="fas fa-align-justify "></i></a>
                        <a asp-action="Delete" asp-route-id="@item.IdProducto" class="btn btn-danger btn-sm">Eliminar<i class="fas fa-trash"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
}