@model ProyectoFinal2020v2.Models.Monedero

@{
    ViewData["Title"] = "Details";
}
@{ Layout = "~/Views/Shared/_AdminLayout.cshtml"; }
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<h1 class="container p-3 my-3 text-white text-center rounded-l" style="background: #246807"><i class="fas fa-file-invoice-dollar"></i>Detalles Monedero</h1>
<div class="container">
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Saldo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Saldo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdClienteNavigation.Apellido1)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.IdMonedero" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Atras</a>
    </div>
</div>