@model IEnumerable<ProyectoFinal2020v2.Models.MatriculaClaseGym>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClaseGymNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClaseGymNavigation.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.Apellido1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMatriculaGym">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMatriculaGym">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMatriculaGym">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
