@model IEnumerable<ProyectoFinal2020v2.Models.MatriculaClaseGym>

@{
    ViewData["Title"] = "Index";
}
<h3 class="container p-3 my-3 text-white text-center rounded-l"
    style="background-color: #0080FF">
    <i class="fas fa-laptop"></i>  Matricula Gym
</h3>

<table id="table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdClaseGym)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>

            <th>
                <a class="btn btn-success" asp-action="Create">
                    Crear Nuevo
                    <i class="fas fa-plus-square"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdClaseGymNavigation.IdClaseGym)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdClienteNavigation.Nombre)
                    @Html.DisplayFor(modelItem => item.IdClienteNavigation.Apellido1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdMatriculaGym" class="btn btn-primary btn-sm">Editar <i class="fas fa-pen"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.IdMatriculaGym" class="btn btn-secondary btn-sm">Detalle <i class="fas fa-align-justify "></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.IdMatriculaGym" class="btn btn-danger btn-sm">Eliminar <i class="fas fa-trash"></i></a>

                </td>

            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
}