@model ProyectoFinal2020v2.Models.ClaseGym

@{
    ViewData["Title"] = "Details";
}

<h4 class="container p-3 my-3 bg-secondary text-white text-center rounded-l"><i class="fas fa-align-justify "></i> Detalle Clase Gym</h4>


<div>
   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdActividad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdActividadNavigation.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cupo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cupo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdSala)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdSalaNavigation.NombreSala)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpleado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEmpleadoNavigation.Nombre)
            @Html.DisplayFor(model => model.IdEmpleadoNavigation.Apellido1)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdClaseGym" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Atras</a>
</div>
